vendors = official
size = 120px
speed = 1.2s
color = {
  bg: #fff
  fg: #f92
}

@import 'basic.styl'
@import 'spinners/default/main.styl'
@import 'spinners/grid/main.styl'
@import 'spinners/ellipsis/main.styl'
@import 'spinners/ripple/main.styl'
@import 'spinners/facebook/main.styl'
@import 'spinners/dual-ring/main.styl'
@import 'spinners/roller/main.styl'
@import 'spinners/heart/main.styl'
@import 'spinners/spinner/main.styl'
@import 'spinners/circle/main.styl'
@import 'spinners/hourglass/main.styl'
@import 'spinners/ring/main.styl'

.block
  width: size
  height: size
  background: color.bg
  margin: 10px
  box-shadow: 0 1px 1px rgba(0,0,0,.2)
  border-radius: 2px
  padding: 10px
  transform: scale(1)
  display: inline-block

