doctype
html
  head
    link(rel="stylesheet",type="text/css",href="index.css")
  body
    include mixin.pug
    .block: +lds-circle
    .block: +lds-dual-ring
    .block: +lds-facebook
    .block: +lds-heart
    .block: +lds-ring
    .block: +lds-roller
    .block: +lds-default
    .block: +lds-ellipsis
    .block: +lds-grid
    .block: +lds-hourglass
    .block: +lds-ripple
    .block: +lds-spinner
