doctype
html
  head
    link(rel="stylesheet",type="text/css",href="index.css")
  body
    .block: include spinners/ellipsis/main.pug
    .block: include spinners/default/main.pug
    .block: include spinners/grid/main.pug
    .block: include spinners/ripple/main.pug
    .block: include spinners/facebook/main.pug
    .block: include spinners/dual-ring/main.pug
    .block: include spinners/roller/main.pug
    .block: include spinners/heart/main.pug
    .block: include spinners/spinner/main.pug
    .block: include spinners/circle/main.pug
    .block: include spinners/hourglass/main.pug
    .block: include spinners/ring/main.pug
