//- module
@keyframes lds-heart
  0%
    transform(scale(.95))
  5%
    transform(scale(1.1))
  39%
    transform(scale(.85))
  45%
    transform(scale(1))
  60%
    transform(scale(.95))
  100%
    transform(scale(.9))

.lds-heart
  display: inline-block
  position: relative
  width: round(size)
  height: round(size)
  transform(rotate(45deg))
  transform-origin(round(size * .5), round(size * .5))
  div
    top: round(size * .4)
    left: round(size * .4)
    position: absolute
    width: round(size * .4)
    height: round(size * .4)
    background: color.fg
    animation(lds-heart speed infinite cubic-bezier(.215,.61,.355,1))

  div:after, div:before
    content: " "
    position: absolute
    display: block
    width: round(size * .4)
    height: round(size * .4)
    background: color.fg
  div:before
    left: round(size * -.3)
    border-radius: 50% 0 0 50%

  div:after 
    top: round(size * -.3)
    border-radius: 50% 50% 0 0
