doctype html
html
  include @/@loadingio/bootstrap.ext/dist/index.pug
  head
    +css("assets/lib/bootstrap/main/css/bootstrap.min.css")
    +css("assets/lib/css-spinner/dev/index.css")
    +css("assets/lib/@loadingio/ldcolorpicker/main/ldcp.min.css")
    +css("assets/lib/ldslider/main/ldrs.min.css")
    style: :stylus
      html,body
        width: 100%
        height: 100%
      body
        background: linear-gradient(45deg,#eea518,#feb528)
        background-size: cover
        color: #fff
        font-size: 18px
      .item { margin: 32px auto;  width: 80px; height: 80px }

  body
    include ../../static/assets/lib/css-spinner/dev/mixin.pug

    .text-center.py-4
      h1.mb-0 CSS Spinner
      div by #[a.text-white(href="https://loading.io/css") loading.io]
      .mt-4.d-flex.justify-content-center.mx-auto(style="max-width:320px")
        .mx-2.flex-grow-1: .form-control.form-control-sm.border-0(ld="color")
        .mx-2.flex-grow-1: .ldrs.sm(ld="slider")
    .w-50.mx-auto(ld="gallery")
      .row.text-center
        .col-sm: .item(ld="spinner"): +lds-circle
        .col-sm: .item(ld="spinner"): +lds-dual-ring
        .col-sm: .item(ld="spinner"): +lds-facebook
      .row.text-center
        .col-sm: .item(ld="spinner"): +lds-heart
        .col-sm: .item(ld="spinner"): +lds-ring
        .col-sm: .item(ld="spinner"): +lds-roller
      .row.text-center
        .col-sm: .item(ld="spinner"): +lds-default
        .col-sm: .item(ld="spinner"): +lds-ellipsis
        .col-sm: .item(ld="spinner"): +lds-grid
      .row.text-center
        .col-sm: .item(ld="spinner"): +lds-hourglass
        .col-sm: .item(ld="spinner"): +lds-ripple
        .col-sm: .item(ld="spinner"): +lds-spinner
    +script("assets/lib/@loadingio/ldquery/main/ldq.min.js")
    +script("assets/lib/proxise/main/proxise.min.js")
    +script("assets/lib/@plotdb/rescope/main/rescope.min.js")
    +script("assets/lib/@plotdb/csscope/main/csscope.min.js")
    +script("assets/lib/@plotdb/block/main/block.min.js")
    +script("assets/lib/ldview/main/index.min.js")
    +script("assets/lib/ldcolor/main/ldcolor.min.js")
    +script("assets/lib/@loadingio/ldcolorpicker/main/ldcp.min.js")
    +script("assets/lib/ldslider/main/ldrs.min.js")
    script: include:lsc index.ls
