doctype html
html
  include @/bootstrap.ldui/dist/index.pug
  head
    +css("assets/lib/bootstrap/main/css/bootstrap.min.css")
    +css("assets/lib/css-spinner/dev/index.css")
    //link(rel="stylesheet",href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css")
    //link(rel="stylesheet",type="text/css",href="/assets/index.css")

    style: :stylus
      html,body
        width: 100%
        height: 100%
      body
        background: linear-gradient(45deg,#eea518,#feb528)
        background-size: cover
        color: #fff
        font-size: 18px
      .item { margin: 32px auto;  width: 80px; height: 80px }

  body
    include ../../static/assets/lib/css-spinner/dev/mixin.pug

    .text-center.py-4
      h1.mb-0 CSS Spinner
      div by #[a.text-white(href="https://loading.io/css") loading.io]

    .w-50.mx-auto
      .row.text-center
        .col-sm: .item: +lds-circle
        .col-sm: .item: +lds-dual-ring
        .col-sm: .item: +lds-facebook
      .row.text-center
        .col-sm: .item: +lds-heart
        .col-sm: .item: +lds-ring
        .col-sm: .item: +lds-roller
      .row.text-center
        .col-sm: .item: +lds-default
        .col-sm: .item: +lds-ellipsis
        .col-sm: .item: +lds-grid
      .row.text-center
        .col-sm: .item: +lds-hourglass
        .col-sm: .item: +lds-ripple
        .col-sm: .item: +lds-spinner
