doctype html
html
  include @/@loadingio/bootstrap.ext/index.pug
  head
    +css([
      {name: "bootstrap", path: "dist/css/bootstrap.min.css"},
      {name: "@loadingio/css-spinner", version: "dev"},
      {name: "@loadingio/ldcolorpicker"},
      {name: "ldslider"},
      {name: "ldcover"}
    ])
    style: :stylus
      html,body
        width: 100%
        height: 100%
      body
        background: linear-gradient(45deg,#2e3568,#3e7588)
        background-size: cover
        color: #fff
        font-size: 18px
      .item { margin: 32px auto;  width: 80px; height: 80px; cursor: pointer }

  body
    include @static/assets/lib/@loadingio/css-spinner/dev/mixin.pug
    .ldcv.default-size(ld="ldcv"): .base: .inner.p-4.bg-dark
      .d-flex.w-100.h-100.flex-column
        .text-center load with @plotdb/block
        .flex-grow-1: .w-100.h-100.d-flex.align-items-center.justify-content-center(ld="preview")
        .d-flex.justify-content-end
          .btn.btn-primary(data-ldcv-set="") Close

    .text-center.py-4
      h1.mb-0 CSS Spinner
      div by #[a.text-white(href="https://loading.io/css") loading.io]
      .mt-4.d-flex.justify-content-center.mx-auto(style="max-width:320px")
        .mx-2.flex-grow-1: .form-control.form-control-sm.border-0(ld="color")
        .mx-2.flex-grow-1: .ldrs.sm(ld="slider")
    .w-50.mx-auto(ld="gallery")
      .row.text-center
        .col-sm: .item(ld="spinner",data-name="circle"): +lds-circle
        .col-sm: .item(ld="spinner",data-name="dual-ring"): +lds-dual-ring
        .col-sm: .item(ld="spinner",data-name="facebook"): +lds-facebook
      .row.text-center
        .col-sm: .item(ld="spinner",data-name="heart"): +lds-heart
        .col-sm: .item(ld="spinner",data-name="ring"): +lds-ring
        .col-sm: .item(ld="spinner",data-name="roller"): +lds-roller
      .row.text-center
        .col-sm: .item(ld="spinner",data-name="default"): +lds-default
        .col-sm: .item(ld="spinner",data-name="ellipsis"): +lds-ellipsis
        .col-sm: .item(ld="spinner",data-name="grid"): +lds-grid
      .row.text-center
        .col-sm: .item(ld="spinner",data-name="hourglass"): +lds-hourglass
        .col-sm: .item(ld="spinner",data-name="ripple"): +lds-ripple
        .col-sm: .item(ld="spinner",data-name="spinner"): +lds-spinner
    +script([
      {name: "@loadingio/ldquery"},
      {name: "proxise"},
      {name: "@plotdb/rescope"},
      {name: "@plotdb/csscope"},
      {name: "@plotdb/block"},
      {name: "ldview"},
      {name: "ldcolor"},
      {name: "@loadingio/ldcolorpicker"},
      {name: "ldcover"},
      {name: "ldslider"}
    ])
    script(type="module"): include:lsc index.ls
