//- module
mixin lds-circle()
  include /../../../src/circle/main.pug

mixin lds-dual-ring()
  include /../../../src/dual-ring/main.pug

mixin lds-facebook()
  include /../../../src/facebook/main.pug

mixin lds-heart()
  include /../../../src/heart/main.pug

mixin lds-ring()
  include /../../../src/ring/main.pug

mixin lds-roller()
  include /../../../src/roller/main.pug

mixin lds-default()
  include /../../../src/default/main.pug

mixin lds-ellipsis()
  include /../../../src/ellipsis/main.pug

mixin lds-grid()
  include /../../../src/grid/main.pug

mixin lds-hourglass()
  include /../../../src/hourglass/main.pug

mixin lds-ripple()
  include /../../../src/ripple/main.pug

mixin lds-spinner()
  include /../../../src/spinner/main.pug

