//- module
mixin lds-circle()
  include /../../../src/circle/index.pug

mixin lds-dual-ring()
  include /../../../src/dual-ring/index.pug

mixin lds-facebook()
  include /../../../src/facebook/index.pug

mixin lds-heart()
  include /../../../src/heart/index.pug

mixin lds-ring()
  include /../../../src/ring/index.pug

mixin lds-roller()
  include /../../../src/roller/index.pug

mixin lds-default()
  include /../../../src/default/index.pug

mixin lds-ellipsis()
  include /../../../src/ellipsis/index.pug

mixin lds-grid()
  include /../../../src/grid/index.pug

mixin lds-hourglass()
  include /../../../src/hourglass/index.pug

mixin lds-ripple()
  include /../../../src/ripple/index.pug

mixin lds-spinner()
  include /../../../src/spinner/index.pug

