transition()
  if index(vendors, 'ms') != null && index(vendors, 'ms') >= 0
    -ms-transition arguments
  if index(vendors, 'moz') != null && index(vendors, 'moz') >= 0
    -moz-transition arguments
  if index(vendors, 'webkit') != null && index(vendors, 'webkit') >= 0
    -webkit-transition arguments
  if index(vendors, 'o') != null && index(vendors, 'o') >= 0
    -o-transition arguments
  if index(vendors, 'official') != null && index(vendors, 'official') >= 0
    transition arguments

transform()
  if index(vendors, 'ms') != null && index(vendors, 'ms') >= 0
    -ms-transform arguments
  if index(vendors, 'moz') != null && index(vendors, 'moz') >= 0
    -moz-transform arguments
  if index(vendors, 'webkit') != null && index(vendors, 'webkit') >= 0
    -webkit-transform arguments
  if index(vendors, 'o') != null && index(vendors, 'o') >= 0
    -o-transform arguments
  if index(vendors, 'official') != null && index(vendors, 'official') >= 0
    transform arguments

transform-origin()
  if index(vendors, 'ms') != null && index(vendors, 'ms') >= 0
    -ms-transform-origin arguments
  if index(vendors, 'moz') != null && index(vendors, 'moz') >= 0
    -moz-transform-origin arguments
  if index(vendors, 'webkit') != null && index(vendors, 'webkit') >= 0
    -webkit-transform-origin arguments
  if index(vendors, 'o') != null && index(vendors, 'o') >= 0
    -o-transform-origin arguments
  if index(vendors, 'official') != null && index(vendors, 'official') >= 0
    transform-origin arguments

animation()
  if index(vendors, 'ms') != null && index(vendors, 'ms') >= 0
    -ms-animation arguments
  if index(vendors, 'moz') != null && index(vendors, 'moz') >= 0
    -moz-animation arguments
  if index(vendors, 'webkit') != null && index(vendors, 'webkit') >= 0
    -webkit-animation arguments
  if index(vendors, 'o') != null && index(vendors, 'o') >= 0
    -o-animation arguments
  if index(vendors, 'official') != null && index(vendors, 'official') >= 0
    animation arguments

animation-delay()
  if index(vendors, 'ms') != null && index(vendors, 'ms') >= 0
    -ms-animation-delay arguments
  if index(vendors, 'moz') != null && index(vendors, 'moz') >= 0
    -moz-animation-delay arguments
  if index(vendors, 'webkit') != null && index(vendors, 'webkit') >= 0
    -webkit-animation-delay arguments
  if index(vendors, 'o') != null && index(vendors, 'o') >= 0
    -o-animation-delay arguments
  if index(vendors, 'official') != null && index(vendors, 'official') >= 0
    animation-delay: arguments

animation-timing-function()
  if index(vendors, 'ms') != null && index(vendors, 'ms') >= 0
    -ms-animation-timing-function arguments
  if index(vendors, 'moz') != null && index(vendors, 'moz') >= 0
    -moz-animation-timing-function arguments
  if index(vendors, 'webkit') != null && index(vendors, 'webkit') >= 0
    -webkit-animation-timing-function arguments
  if index(vendors, 'o') != null && index(vendors, 'o') >= 0
    -o-animation-timing-function arguments
  if index(vendors, 'official') != null && index(vendors, 'official') >= 0
    animation-timing-function arguments
