@import 'vars.styl'
@import 'basic.styl'
@import '../../../src/default/main.styl'
@import '../../../src/grid/main.styl'
@import '../../../src/ellipsis/main.styl'
@import '../../../src/ripple/main.styl'
@import '../../../src/facebook/main.styl'
@import '../../../src/dual-ring/main.styl'
@import '../../../src/roller/main.styl'
@import '../../../src/heart/main.styl'
@import '../../../src/spinner/main.styl'
@import '../../../src/circle/main.styl'
@import '../../../src/hourglass/main.styl'
@import '../../../src/ring/main.styl'

.block
  width: (size + 20px)
  height: (size + 20px)
  background: color.bg
  margin: 2em
  box-shadow: 0 0px 0px rgba(0,0,0,.2)
  border-radius: 2px
  padding: 10px
  transform: scale(1)
  display: inline-block

body
  background: #fa5
