mixin lds-circle()
  .lds-circle: div
mixin lds-default()
  .lds-default #[div]#[div]#[div]#[div]#[div]#[div]#[div]#[div]#[div]#[div]#[div]#[div]
mixin lds-dual-ring()
  .lds-dual-ring
mixin lds-ellipsis()
  .lds-ellipsis #[div]#[div]#[div]#[div]
mixin lds-facebook()
  .lds-facebook #[div]#[div]#[div]
mixin lds-grid()
  .lds-grid #[div]#[div]#[div]#[div]#[div]#[div]#[div]#[div]#[div]
mixin lds-heart()
  .lds-heart: div
mixin lds-hourglass()
  .lds-hourglass
mixin lds-ring()
  .lds-ring #[div]#[div]#[div]#[div]
mixin lds-ripple()
  .lds-ripple #[div]#[div]
mixin lds-roller()
  .lds-roller #[div]#[div]#[div]#[div]#[div]#[div]#[div]#[div]
mixin lds-spinner()
  .lds-spinner #[div]#[div]#[div]#[div]#[div]#[div]#[div]#[div]#[div]#[div]#[div]#[div]
