mixin lds-circle()
  .lds-circle&attributes(attributes): div
mixin lds-default()
  .lds-default&attributes(attributes) #[div]#[div]#[div]#[div]#[div]#[div]#[div]#[div]#[div]#[div]#[div]#[div]
mixin lds-dual-ring()
  .lds-dual-ring
mixin lds-ellipsis()
  .lds-ellipsis&attributes(attributes) #[div]#[div]#[div]#[div]
mixin lds-facebook()
  .lds-facebook&attributes(attributes) #[div]#[div]#[div]
mixin lds-grid()
  .lds-grid&attributes(attributes) #[div]#[div]#[div]#[div]#[div]#[div]#[div]#[div]#[div]
mixin lds-heart()
  .lds-heart&attributes(attributes): div
mixin lds-hourglass()
  .lds-hourglass
mixin lds-ring()
  .lds-ring&attributes(attributes) #[div]#[div]#[div]#[div]
mixin lds-ripple()
  .lds-ripple&attributes(attributes) #[div]#[div]
mixin lds-roller()
  .lds-roller&attributes(attributes) #[div]#[div]#[div]#[div]#[div]#[div]#[div]#[div]
mixin lds-spinner()
  .lds-spinner&attributes(attributes) #[div]#[div]#[div]#[div]#[div]#[div]#[div]#[div]#[div]#[div]#[div]#[div]
