//- module
mixin lds-circle()
  include circle/index.pug

mixin lds-dual-ring()
  include dual-ring/index.pug

mixin lds-facebook()
  include facebook/index.pug

mixin lds-heart()
  include heart/index.pug

mixin lds-ring()
  include ring/index.pug

mixin lds-roller()
  include roller/index.pug

mixin lds-default()
  include default/index.pug

mixin lds-ellipsis()
  include ellipsis/index.pug

mixin lds-grid()
  include grid/index.pug

mixin lds-hourglass()
  include hourglass/index.pug

mixin lds-ripple()
  include ripple/index.pug

mixin lds-spinner()
  include spinner/index.pug

