//- module
borderSize = size * .08

@keyframes lds-dual-ring
  0%
    transform: rotate(0deg)
  100%
    transform: rotate(360deg)

.lds-dual-ring, .lds-dual-ring:after
  box-sizing: border-box

.lds-dual-ring
  display: inline-block
  width: prec-round(size)
  height: prec-round(size)

.lds-dual-ring:after
  content: " "
  display: block
  width: prec-round(size * .8)
  height: prec-round(size * .8)
  margin: prec-round(size * .1)
  border-radius: 50%
  border: prec-round(borderSize) solid color.fg
  border-color: color.fg transparent color.fg transparent
  animation: lds-dual-ring speed linear infinite
